.container {
  background: #25d366;
  position: fixed;
  padding: 15px;
  border-radius: 100%;
  bottom: 30px;
  right: 30px;
  z-index: 999999;
  border: 2px solid #fff;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 15px;
  }

  .icon {
    filter: invert(1);
  }
}
