.container {
  max-width: 1120px;
  margin: 80px auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .partnersLogo {
      width: 100%;
      object-fit: contain;
      margin: auto;
    }
  }
}
