.container {
  background: #25bdb8;
  display: flex;
  justify-content: flex-end;
  padding: 20px 100px;

  @media (max-width: 768px) {
    padding: 20px 20px;
    justify-content: flex-end;
  }

  > header {
    display: flex;
    flex-direction: row;
    gap: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: 768px) {
        flex-direction: row-reverse;
      }
    }
  }
}
